{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "quoteProps": "consistent",
  "importOrder": [
    "lodash",
    "<THIRD_PARTY_MODULES>",
    "^@shadcn-ui/(.*)$",
    "^@pages/(.*)$",
    "^@widgets/(.*)$",
    "^@features/(.*)$",
    "^@entities/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@typings$",
    "^@stores/(.*)$",
    "^@consts/(.*)$",
    "^@contracts/(.*)$",
    "^@components/(.*)$",
    "^@config$",
    "^@src/(.*)$",
    "^@styles/(.*)$",
    "^[./].(?!styles)",
    "./styles"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
